body{
	font-family: verdana, sans-serif;
	text-align: center;
	margin: 0;
	font-family: 'Merriweather', serif;
}
h1{
	margin: 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	color: #0F083C;

}
hr{
	border: dotted 6px #0F083C ;
	border-bottom: none;
	width: 5%;
	margin: 15px auto;
}
h2{
	font-family: 'Montserrat', sans-serif;
	color: #0F083C;
	font-size: 30px;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color: #0F083C;

}
a{
	text-decoration: none;
	margin: 5px 15px;
}
div{
	background-color: #CDFFEB;
}
.pro{
	text-decoration: underline;
	color: #E4F9F5;
}
.programmer{
	font-size: 2.5rem;
	font-weight: normal;
}

#titlebox{
	position: relative;
	padding-top: 150px;
	background-color: #41AAA8;

}
.top-cloud{
	right: 300px;
	position: absolute;
	top: 100px;
}
.bottom-cloud{
	position: absolute;
	left:300px;
	top: 350px;
}
.skill-row{
	width: 50%;
	margin: 90px auto 90px auto;
	line-height: 2;
}
.web-img{
	float: left;
	width: 25%;
	margin: 20px;
}
.c-sharp-img{
	float: right;
	width: 25%;
	margin: 20px;

}
.game-img{
	float: left;
	width: 25%;
	margin: 20px;
}
.skill-description{
	font-size: 20px;
	line-height: 2;
}
.profile-img{
	margin: 25px auto;
}
.contact-me{

}
.bottom-container{
	background-color: #0F083C;
	padding: 20px 0 20px 0;
}
.reference{
	background-color: #0F083C;
}

.btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #009f9c), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #009f9c 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #009f9c 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #009f9c 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #009f9c 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #009f9c 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009f9c', endColorstr='#476e9e',GradientType=0);
	background-color:#009f9c;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	margin-bottom: 30px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #009f9c));
	background:-moz-linear-gradient(top, #476e9e 5%, #009f9c 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #009f9c 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #009f9c 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #009f9c 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #009f9c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#009f9c',GradientType=0);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}

